.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field{
  display: block;
}

.padding {
  margin: 10px;
}

.picContainer {
  height: 64px;
  width: 64px;
}

.picContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
